sanic>=23.6.0
sqlalchemy
python-stdnum
MechanicalSoup
PyYAML
lxml
psycopg2-binary
environs
requests
python-slugify

# websockets == 7.*
# sanic-envconfig
# BeautifulSoup4
# Pillow
# databases== 0.2.4
# databases [postgresql] 
# asyncpg
